body{
    background-image: url(../images/fondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    
}

.card {
    background-color: #000000;
    
}

label{
    color: #ffffff;
}

.input-valid {
    border: 2px solid green;
}

.input-invalid {
    border: 2px solid red;
}