<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Gato</title>
</head>
<body>
    <h2>Modificar Gato</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="cod_gato">Código:</label><br>
        <input type="text" id="cod_gato" name="cod_gato"><br>
        <label for="nombre_gato">Nombre:</label><br>
        <input type="text" id="nombre_gato" name="nombre_gato"><br>
        <label for="edad_gato">Edad:</label><br>
        <input type="number" id="edad_gato" name="edad_gato"><br>
        <label for="raza_gato">Raza:</label><br>
        <input type="text" id="raza_gato" name="raza_gato"><br>
        <label for="esterelizacion_gato">Esterilizado:</label><br>
        <input type="checkbox" id="esterelizacion_gato" name="esterelizacion_gato" value="true"><br>
        <label for="fecha_nac">Fecha de Nacimiento:</label><br>
        <input type="date" id="fecha_nac" name="fecha_nac"><br>
        <input type="submit" value="Modificar">
        <a href="/panel" class="btn btn-primary">Volver</a>
    </form>
</body>
</html>